<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="index :: base">
    <head>
        <title>BibFrog</title>
    </head>
    <body>
        <div th:fragment="content">
            <div class="register-photo">
                <div class="form-container">
                    <div class="image-holder"></div>
                    <form method="post" th:object="${article}">
                        <h2 class="text-center"><strong>Edit</strong> an article.</h2>
                        <div class="form-group">
                            <label class="lbl">Title: <a class="requiredField">*</a><input class="form-control" type="text" th:field="*{title}" name="title" /></label>
                            <a th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title errors</a>
                        </div>
                        <div class="form-group">
                            <label class="lbl">Author(s): <a class="requiredField">*</a><input class="form-control" type="text" th:field="*{authors}" name="authors" /></label>
                            <a th:if="${#fields.hasErrors('authors')}" th:errors="*{authors}">authors errors</a>
                        </div>
                        <div class="form-group">
                            <label class="lbl">Journal: <a class="requiredField">*</a><input class="form-control" type="text" th:field="*{journal}" name="journal" /></label>
                            <a th:if="${#fields.hasErrors('journal')}" th:errors="*{journal}">journal errors</a>
                        </div>
                        <div class="form-group">
                            <label class="lbl">Year: <a class="requiredField">*</a><input class="form-control" type="number" th:field="*{publishYear}" name="publishYear" /></label>
                            <a th:if="${#fields.hasErrors('publishYear')}" th:errors="*{publishYear}">year errors</a>
                        </div>
                        <div class="form-group">
                            <label class="lbl">Reference key:<input class="form-control" type="text" th:field="*{referenceKey}" name="referenceKey" placeholder="Reference key" /></label>
                            <a th:if="${#fields.hasErrors('referenceKey')}" th:errors="*{referenceKey}">Reference key errors</a>
                        </div>
                        <div class="form-group">
                            <label class="lbl">Volume:<input class="form-control" type="number" th:field="*{volume}" name="volume" placeholder="7" /></label>
                            <a th:if="${#fields.hasErrors('volume')}" th:errors="*{volume}">volume errors</a>
                        </div>
                        <div class="form-group">
                            <label class="lbl">Number:<input class="form-control" type="number" th:field="*{number}" name="number" placeholder="7" /></label>
                            <a th:if="${#fields.hasErrors('number')}" th:errors="*{number}">number errors</a>
                        </div>
                        <div class="form-group">
                            <label class="lbl">Pages:<input class="form-control" type="text" th:field="*{pages}" name="pages" placeholder="2-6" /></label>
                            <a th:if="${#fields.hasErrors('pages')}" th:errors="*{pages}">pages errors</a>
                        </div>
                        <div class="form-group">
                            <label class="lbl">Month:<input class="form-control" type="number" th:field="*{publishMonth}" name="publishMonth" placeholder="7" /></label>
                            <a th:if="${#fields.hasErrors('publishMonth')}" th:errors="*{publishMont}">month errors</a>
                        </div>
                        <div class="form-group">
                            <label class="lbl">Note:<input class="form-control" type="text" th:field="*{note}" name="note" placeholder="Additional notes" /></label>
                            <a th:if="${#fields.hasErrors('note')}" th:errors="*{note}">note errors</a>
                            <div class="form-group">
                                <button class="btn btn-success btn-block" type="submit" name="addButton">Confirm</button>
                                <button class="btn btn-default btn-block">Back<a th:href="@{/articles}"></a></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
