<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="index :: base">
    <head>
        <title>BibFrog</title>
    </head>
    <body>
        <div th:fragment="content">
            <div class ="features-boxed">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="title2">Articles</h2>
                            <div class="modal fade" id="downloadAll" role="dialog">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Download All Articles</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form th:action="@{/articles/all/download}" method="GET">
                                                <div class="form-group">
                                                    <input class="form-control"  type="text" name="fileName" value="bibtex"/>
                                                </div>
                                                <input class="btn btn-success btn-block" type="submit" value="Download All" name="confirmAllDownload"/>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td class="listingRow">Title</td>
                                            <td class="listingRow">Authors</td>
                                            <td class="listingRow">Journal</td>
                                            <td class="listingRow">Year</td>
                                            <td class='listingRow'>
                                                <button id="downloadForm" type="button" name="downloadAll" class="btn btn-success leftButton" data-toggle="modal" data-target="#downloadAll">Download All</button>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="article : ${articleList}">
                                            <td class="listingRow"><b th:text="${article.title}">title</b></td>
                                            <td class="listingRow"><b th:text="${article.authors}">authors</b></td>
                                            <td class="listingRow"><b th:text="${article.journal}">journal</b></td>
                                            <td class="listingRow"><b th:text="${article.publishYear}">year</b></td>
                                            <td class="listingRow">
                                                <button id="downloadForm" type="button" name="downloadBibtex" class="btn btn-success manageButton" data-toggle="modal" th:attr="data-target='#singleDownload'+${article.id}" >Manage</button>
                                                <div class="modal fade" th:attr="id='singleDownload'+${article.id}" role="dialog">
                                                    <div class="modal-dialog modal-sm">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                <h4 class="modal-title">Download an article</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form th:action="@{article/{articleId}/download(articleId=${article.id})}" method="GET">
                                                                    <div class="form-group">
                                                                        <input class="form-control"  type="text" name="fileName" value="bibtex"/>
                                                                    </div>
                                                                    <input class="btn btn-success btn-block" name="confirmDownload" type="submit" value="Download"/>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <form class='sideBySideForm' th:action="@{article/{articleId}/edit(articleId=${article.id})}" method="GET">
                                                                    <input class="btn btn-success" type="submit" value="Edit" name='editButton'/>                                                                    
                                                                </form>
                                                                <form class='sideBySideForm' th:action="@{article/{articleId}/delete(articleId=${article.id})}" th:method="DELETE">
                                                                    <input class="btn btn-danger" type="submit" value="Delete" name='deleteButton'/>                                                                    
                                                                </form>
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>