<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="index :: base">
    <head>
        <title>BibFrog</title>
    </head>
    <body>
        <div th:fragment="content">
            <div class="register-photo">
                <div class="form-container">
                    <div class="image-holder"></div>
                    <form method="post" th:object="${book}">
                        <h2 class="text-center"><strong>Create</strong> a book.</h2>

                        <div class="form-group">
                            <label class="lbl">Title:<input class="form-control" type="text" th:field="*{title}" name="title" placeholder="Operating Systems: Internal Design and Principles" /></label>
                            <a th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title errors</a>
                        </div>
                        <div class="form-group">
                            <label class="lbl">Author:<input class="form-control" type="text" th:field="*{author}" name="author" placeholder="William Stallings" /></label>
                            <a th:if="${#fields.hasErrors('author')}" th:errors="*{author}">author errors</a>
                        </div>
                        <div class="form-group">
                            <label class="lbl">Year:<input class="form-control" type="number" th:field="*{publishYear}" name="publishYear" placeholder="2013" /></label>
                            <a th:if="${#fields.hasErrors('publishYear')}" th:errors="*{publishYear}">year errors</a>
                        </div>
                        <div class="form-group">
                            <label class="lbl">Publisher:<input class="form-control" type="text" th:field="*{publisher}" name="publisher" placeholder="IEEE (optional)" /></label>
                            <a th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}">publisher errors</a>
                        </div>
                        <div class="form-group">
                            <label class="lbl">Edition:<input class="form-control" type="number" th:field="*{edition}" name="edition" placeholder="7" /></label>
                            <a th:if="${#fields.hasErrors('edition')}" th:errors="*{edition}">edition errors</a>
                        </div>
                        <div class="form-group">
                            <label class="lbl">Address:<input class="form-control" type="text" th:field="*{address}" name="address" placeholder="Piscataway, NJ 08854-4141 USA (optional)" /></label>
                            <a th:if="${#fields.hasErrors('address')}" th:errors="*{address}">address errors</a>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" type="submit">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
