<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="base">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=0.5"/>
        <title>BibFrog</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/Navigation-Clean1.css"/>
        <link rel="stylesheet" href="/css/Registration-Form-with-Photo.css"/>
        <link rel="stylesheet" href="/css/styles.css"/>
        <link rel="icon" 
              type="image/ico" 
              href="/img/favicon.ico"/>
    </head>
    <body>
        <div>
            <nav class="navbar navbar-default navigation-clean">
                <div class="container">
                    
                    <div class="navbar-header"><a th:href="@{/}" name="frontpage" class="navbar-brand navbar-link"><img src="/img/pepe.jpg" id="pepe"/>BibFrog</a>
                        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span><span class="icon-bar"></span>
                            <span class="icon-bar"></span></button>
                    </div>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav navbar-right">

                            <li role="presentation"><a th:href="@{/list}">List all</a></li>
                            <li role="presentation"><a th:href="@{/articles}">Articles</a></li>
                            <li role="presentation"><a th:href="@{/books}">Books</a></li>
                            <li role="presentation"><a th:href="@{/inpros}">Inproceedings</a></li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div th:include="this :: content"/>
        <div class="footer-basic">
            <footer>
                <a href="https://www.github.com/lesktimo/BibFrog"><p class="copyright">BibFrog 2017</p></a>
            </footer>
        </div>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>
