<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="index :: base">
    <head>
        <title>BibFrog</title>
    </head>
    <body>
        <div th:fragment="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Inproceedings</h2>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td class="listingRow">Title</td>
                                        <td class="listingRow">Book title</td>
                                        <td class="listingRow">Authors</td>
                                        <td class="listingRow">Year</td>
                                        <td style="text-align: right;">Write your filename</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="inpro : ${inproList}">
                                        <td class="listingRow"><b th:text="${inpro.title}">title</b></td>
                                        <td class="listingRow"><b th:text="${inpro.bookTitle}">book title</b></td>
                                        <td class="listingRow"><b th:text="${inpro.authorString()}">authors</b></td>
                                        <td class="listingRow"><b th:text="${inpro.publishYear}">year</b></td>
                                        <td class="listingRow"><form id="downloadForm" th:action="@{inpro/{inproId}/download(inproId=${inpro.id})}" method="GET">
                                                <div class="form-group">
                                                    <input class="form-control"  type="text" name="fileName" value="bibtex"/>
                                                </div>
                                                <input class="btn btn-success btn-block" type="submit" value="Download"/>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>