<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="index :: base">
    <head>
        <title>BibFrog</title>
    </head>
    <body>
        <div th:fragment="content">
            <div class="features-boxed">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Inproceedings</h2>
                            <div class="modal fade" id="downloadAll" role="dialog">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Download All Inproceedings</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form th:action="@{/inpros/all/download}" method="GET">
                                                <div class="form-group">
                                                    <input class="form-control"  type="text" name="fileName" value="bibtex"/>
                                                </div>
                                                <input class="btn btn-success btn-block" type="submit" value="Download All" name="confirmAllDownload"/>
                                            </form>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td class="listingRow">Title</td>
                                            <td class="listingRow">Book title</td>
                                            <td class="listingRow">Authors</td>
                                            <td class="listingRow">Year</td>
                                            <td class='listingRow'>
                                                <button id="downloadForm" type="button" name="downloadAll" class="btn btn-success leftButton" data-toggle="modal" data-target="#downloadAll">Download All</button>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="inpro : ${inproList}">
                                            <td class="listingRow"><b th:text="${inpro.title}">title</b></td>
                                            <td class="listingRow"><b th:text="${inpro.bookTitle}">book title</b></td>
                                            <td class="listingRow"><b th:text="${inpro.authorString()}">authors</b></td>
                                            <td class="listingRow"><b th:text="${inpro.publishYear}">year</b></td>
                                            <td class="listingRow">
                                                <button id="downloadForm" type="button" name="downloadBibtex" class="btn btn-success manageButton" data-toggle="modal" th:attr="data-target='#singleDownload'+${inpro.id}">Manage</button>
                                                <div class="modal fade" th:attr="id='singleDownload'+${inpro.id}" role="dialog">
                                                    <div class="modal-dialog modal-sm">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                <h4 class="modal-title">Download an inproceeding</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form th:action="@{inpro/{inproId}/download(inproId=${inpro.id})}" method="GET">
                                                                    <div class="form-group">
                                                                        <input class="form-control"  type="text" name="fileName" value="bibtex"/>
                                                                    </div>
                                                                    <input class="btn btn-success btn-block" name="confirmDownload" type="submit" value="Download"/>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <form th:action="@{inpro/{inproId}/edit(inproId=${inpro.id})}" method="GET">
                                                                    <input class="btn btn-success" type="submit" value="Edit" name='editButton'/>
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>