<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="index :: base">
    <head>
        <title>BibFrog</title>
    </head>
    <body>
        <div th:fragment="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>References</h2>
                        <form id="downloadForm" th:action="@{/list/download}" method="GET">
                            <div class="form-group">
                                <input class="form-control"  type="text" name="fileName" value="bibtex"/>
                            </div>
                            <input class="btn btn-success btn-block" type="submit"/>
                        </form>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td class="listingRow">Title</td>
                                        <td class="listingRow">Authors</td>
                                        <td class="listingRow">Year</td>
                                        <td class="listingRow">Reference Key</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="reference : ${list}">
                                        <td class="listingRow"><b th:text="${reference.title}">title</b></td>
                                        <td class="listingRow"><b th:text="${reference.authorString()}">authors</b></td>
                                        <td class="listingRow"><b th:text="${reference.publishYear}">year</b></td>
                                        <td class="listingRow"><b th:text="${reference.referenceKey}">reference key</b></td>
                                        <td class="listingRow">
                                            <!-- Trigger the modal with a button -->
                                            <button id="downloadForm" type="button" name="downloadBibtex" class="btn btn-success btn-block" data-toggle="modal" data-target="#myModal">Download</button>

                                            <!-- Modal -->
                                            <div class="modal fade" id="myModal" role="dialog">
                                                <div class="modal-dialog modal-sm">

                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">

                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">Download bibtex</h4>
                                                        </div>
                                                        <div class="modal-body">

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>